<div class="modal fade" id="sendEstimateModal" tabindex="-1" data-backdrop="static"
					aria-labelledby="sendEstimateModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-xl">
						<div class="modal-content update-profile-modal">
							<button type="button" style="background-color: beige;" class="btn-close"
								data-bs-dismiss="modal" aria-label="Close"></button>
							<div class="modal-body">
								<div class="est-header d-flex">
									<h5 class="fw-bold">Email Invoice</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="send-estimate-container mt-4">
											<form class="row g-3" id="sendEmailEstimateForm"
												th:action="@{/estimate/send}" method="post">
												<div class="col-md-12">
													<div class="input-items">
														<label for="inputfrom" class="form-label">From:</label> <input
															th:if="${fromEmailAddress != null}" type="text"
															class="form-control" id="inputfrom"
															placeholder="johndoe@gmail.com"
															th:value="${fromEmailAddress}" name="fromEmail" readonly>
														<input th:unless="${fromEmailAddress != null}" type="text"
															class="form-control" id="inputfrom"
															placeholder="johndoe@gmail.com" name="fromEmail" readonly>
													</div>
												</div>
												<div class="col-md-12">
													<div class="input-items">
														<label for="inputTo" class="form-label">To:</label>
														<input type="text" class="form-control" id="inputTo"
															placeholder="johndoe@gmail.com"
															th:if="${estimate!= null and estimate.CustomerDTO != null and requestForView and #lists.size(estimate.CustomerDTO.emails) > 0}"
															th:value="${estimate.CustomerDTO.emails[0].email}"
															name="toEmail">
														<input type="text" class="form-control" id="inputTo"
															placeholder="johndoe@gmail.com"
															th:unless="${estimate!= null and estimate.CustomerDTO != null and requestForView and #lists.size(estimate.CustomerDTO.emails) > 0}"
															name="toEmail">
													</div>
												</div>
												<div class="col-md-12">
													<div class="input-items">
														<label for="inputsub" class="form-label">Subject:</label>
														<input type="text" class="form-control" id="inputsub"
															name="subject" placeholder="Interesting"
															th:if="${estimateEmailSubject != null}"
															th:value="${estimateEmailSubject}">
														<input type="text" class="form-control" id="inputsub"
															name="subject" placeholder="Interesting"
															th:unless="${estimateEmailSubject != null}">
													</div>
												</div>
												<hr class="dividing_line">
												<div class="col-md-12">
													<textarea type="text" class="form-control custom-area" name="body"
														th:if="${bodyContent != null}"
														th:text="${bodyContent}"></textarea>
													<textarea type="text" class="form-control custom-area" name="body"
														th:unless="${bodyContent != null}" th:text="${bodyContent}"
														id="inputBody"></textarea>
													<!--<input type="hidden" name="body" th:value="${bodyHtmlContent}"/>-->
												</div>
												<div class="col-md-12">
													<div class="attach_checkboxes">
														<p>Attach</p>
														<div class="row">
															<div class="col-md-3 input-items">
																<input type="checkbox" name="itemPrice"
																	id="optionPriceCheck"
																	onchange=updateEstimateHTMLView(event)>
																<label for="inpPrice" class="form-label">Item
																	Price</label>
															</div>
															<div class="col-md-3 input-items">
																<input type="checkbox" name="itemTotal"
																	id="optionTotalCheck"
																	onchange=updateEstimateHTMLView(event)>
																<label for="attach_total" class="form-label">Item
																	Total</label>
															</div>
															<div class="col-md-3 input-items">
																<input type="checkbox" name="itemQuantity"
																	id="optionQuantityCheck"
																	onchange=updateEstimateHTMLView(event)>
																<label for="attach_quan" class="form-label">Item
																	Quantity</label>
															</div>
															<div class="col-md-3 input-items">
																<input type="checkbox" name="grandTotal"
																	id="optionGrandTotalCheck"
																	onchange=updateEstimateHTMLView(event) checked>
																<label for="attachinp_total" class="form-label">Grand
																	Total</label>
															</div>
														</div>
													</div>
													<div class="attach_esti_dropdown"></div>
												</div>
												<div class="col-md-12">
													<p>Invoice Option</p>
													<div id="error" style="color: red; display: none;">Please check at
														least one
														option.</div>
													<div class="d-inline p-2" id="optionsdiv"></div>
												</div>
												<input type="hidden" id="estId" th:if="${estimate.id!=null}"
													name="invoiceId" th:value="${estimate.id}" />
												<input type="hidden" id="estId" th:unless="${estimate.id!=null}"
													name="invoiceId" />
												<button type="submit" id="estimateEmailSendBtn" style="margin-top: 15%;"
													class="primary-btn send-btn-estimate">Send</button>
											</form>
										</div>
									</div>
									<div class="col-md-6 scroll-conatiner">
										<!--Estimate PDF HTML View start-->
										<div id="invoiceholder" style="width: 100%;height: 100%;">
											<div id="invoice" class="effect2"
												style="position: relative;margin: 0 auto;background: #FFF;">
												<div id="invoice-top"
													style="padding: 20px;border-bottom: 2px solid #00a63f;">
													<div class="header-content d-flex align-items-center">


														<img id="" class="custmImagelogo"
															th:if="${#authentication.principal.dataHelper.loggedInOrganizationProfileURL !=null}"
															th:src="${(#authentication.principal.dataHelper.loggedInOrganizationProfileURL != null) ? '/project_image/' +#authentication.principal.dataHelper.loggedInOrganizationProfileURL :'No image' }"
															alt="org logo" />
													</div>

													<div class="header-content d-flex align-items-center">
														<h4
															th:text="${#authentication.principal.dataHelper.loggedInOrganizationDetails.orgName}">
															Org Name</h4>
													</div>
													<div class="title" style="margin-top: -10px;float: right;">
														<h1 style="font-size: 1.5em;color: #444;">Invoice <span
																th:text="${invoice}"></span></h1>
														<p
															style="font-size: .75em;color: #666;line-height: 1.2em;text-align: right;">
															Invoice
															Date: <span id="estimateDateHTMLView"></span></p>
													</div>
													<!--End Title-->
												</div>
												<!--End InvoiceTop-->
												<div id="invoice-mid" style="padding: 20px;min-height: 110px;">
													<div id="message" style="margin-bottom: 30px;display: block;">
														<h2 style="font-size: .9em;margin-bottom: 5px;color: #444;">
															Hello <span id="estimateCustomerNameHTMLView"></span>,</h2>
														<p style="font-size: .75em;color: #666;line-height: 1.2em;">An
															Invoice with ID number
															Invoice #<span id="estimateId2HTMLView"></span> is
															created and
															is waiting for your approval.</p>
														<!--<a href="javascript:void(0);">Click here</a> to login </p>-->
													</div>
													<div class="cta-group mobile-btn-group" style="display: none;">
														<a href="javascript:void(0);" class="btn-primary"
															style="text-decoration: none;color: #fff;display: inline-block;padding: 10px;border-radius: 4px;background: #00a63f;margin-right: 10px;min-width: 140px;text-align: center;font-size: 0.95em;">Accept</a>
														<a href="javascript:void(0);" class="btn-default"
															style="text-decoration: none;color: #fff;display: inline-block;padding: 10px;border-radius: 4px;background: rgb(128 114 110);margin-right: 10px;min-width: 140px;text-align: center;font-size: 0.95em;">Request
															change</a>
													</div>
													<div class="clearfix">
														<div class="col-left" style="float: left;">
															<div class="clientlogo"
																style="display: inline-block;vertical-align: middle;width: 50px;">
																<img src="https://cdn3.iconfinder.com/data/icons/daily-sales/512/Sale-card-address-512.png"
																	alt="Sup" style="width: 100%;" />
															</div>
															<div class="clientinfo"
																style="display: inline-block;vertical-align: middle;margin-left: 20px;">
																<h2 id="supplier"
																	style="font-size: .9em;margin-bottom: 5px;color: #444;">
																	TESI
																	S.P.A.</h2>
																<p
																	style="font-size: .75em;color: #666;line-height: 1.2em;">
																	<span id="address">VIA
																		SAVIGLIANO, 48</span><br></br><span
																		id="city">RORETO DI
																		CHERASCO</span><br></br><span
																		id="country">IT</span> - <span
																		id="zip">12062</span><br></br><span
																		id="tax_num">555-555-5555</span><br></br>
																</p>
															</div>
														</div>
														<div class="col-right" style="float: right;"></div>
													</div>
												</div>
												<!--End Invoice Mid-->
												<div id="invoiceOptionsHTMLView"></div>
												<!--End InvoiceBot-->
												<footer style="border-top: 1px solid #eeeeee;padding: 15px 20px;">
													<div id="legalcopy" class="clearfix">
														<p class="col-right"
															style="font-size: .75em;color: #666;line-height: 1.2em;float: right;">
															Our
															mailing address is:
															<span class="email"><a
																	href="mailto:supplier.portal@almonature.com"
																	style="text-decoration: none;color: #00a63f;">info@servicevix.com</a></span>
														</p>
													</div>
												</footer>
											</div>
											<!--End Invoice-->
										</div>
										<!--Estimate PDF HTML View End-->
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>