<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Service Vix | Change Password</title>

	<!--Css File-->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/responsive.bootstrap5.min.css}">
	<link rel="stylesheet" th:href="@{/css/slimselect.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/responsive.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
	<div class="login_Sec" style="background: url(/assest/password_back.jpg) no-repeat;">
		<form action="/staff/update-password" method="post">
			<div class="loginForm_Box">
				<img src="/assest/brandlogo.png">
				<h2>Update Password?</h2>
				<h5 style="font-weight: bold;">Hi [[${staffName}]] </h5><span>Please update your password after logging
					in with your
					email and new password.</span>
				<input type="hidden" th:value="${staffEmail}" name="email" />
				<div>
					<label for="password" class="form-label">Password</label>
					<div class="input-group">
						<input type="password" name="password" class="form-control" id="password"
							placeholder="************" oninput="validatePassword()" required>
						<button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility()">
							<i id="eyeIcon" class="far fa-eye"></i>
						</button>
						<span id="passwordError" style="color:red;"></span>
					</div>
				</div>
				<div class="mt-2">
					<label for="password" class="form-label">Confrim Password</label>
					<div class="input-group">
						<input type="password" class="form-control" id="confirm-password" placeholder="************"
							required>
						<button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibilityy()">
							<i id="eyeIcon" class="far fa-eye"></i>
						</button>
					</div>
				</div>
				<button type="submit" th:disabled="${!result}" class="offset-4 primary-btn form-btns mt-2">Update Password</button>
			</div>
		</form>
	</div>
	<!--Js File-->
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap-select.min.js}"></script>
	<script th:src="@{/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/js/dataTables.responsive.min.js}"></script>
	<script th:src="@{/js/responsive.bootstrap5.min.js}"></script>
	<script th:src="@{/js/dataTables.bootstrap5.min.js}"></script>
	<script th:src="@{/js/slimselect.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/apexcharts@latest"></script>
	<script th:src="@{/js/main.js}"></script>
</body>

</html>