<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/dataTables.bootstrap5.min.css}">
	<link rel="stylesheet" th:href="@{/css/responsive.bootstrap5.min.css}">
	<link rel="stylesheet" th:href="@{/css/slimselect.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap-icons.min.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/responsive.css}">
	<link rel="stylesheet" th:href="@{/css/addproduct-cdn.css}">

</head>

<body>
	<!--navbar-->
	<div class="body_container d-flex">
		<div th:replace="component/sidebar :: sidebar"></div>
		<div class="main">
			<!-- haeder -->
			<header th:replace="component/topmenu :: topmenu"></header>
			<!-- headerend -->
			<!-- mainconatiner -->
			<div class="container-fluid p-2 p-md-3 p-lg-4 scroll-conatiner">
				<div class="row h-100">
					<div class="col-12">
						<div class="card data-cards h-100">
							<div class="add-satff-container p-2">
								<div class="data-cards-header">
									<h4>Email Template</h4>
								</div>
								<div th:if="${session.message != null}" id="popupMessage">
									<div class="alert fade show"
										th:classappend="${session.message.type == 'success'} ? 'alert-success ' : 'alert-danger '"
										role="alert">
										<div th:if="${session.message.type == 'success'}">
											<strong><i class="bi bi-check-circle-fill me-2"></i>Hey! </strong><span
												th:text="${session.message.text}"></span>
										</div>
										<div th:unless="${session.message.type == 'success'}">
											<strong><i class="bi bi-x-circle-fill me-2"></i></i>Oops ! </strong><span
												th:text="${session.message.text}"></span>
										</div>
										<button type="button" class="btn-close" data-bs-dismiss="alert"
											aria-label="Close"></button>
									</div>
								</div>
								<div class="data-cards-body mt-4">
									<form th:action="@{/email-template}" method="post" th:object="${emailTemplate}">
										<div class="row">
											<div class="col-xl-3" style="float: right;">
												<select class="selectpicker form-control" id="templateType"
													name="emailTemplateType">
													<option selected value="">Select Template Type</option>
													<option value="ESTIMATE_TEMPLATE">Estimate</option>
													<option value="INVOICE_TEMPLATE">Invoice</option>
												</select>
											</div>
											<div class="col-xl-4" style="float: right;">
												<input class="form-control" type="text" placeholder="Email Subject"
													name="templateSubject" id="templateSubject" required />
												<input type="hidden" name="id" id="templateId" />
											</div>
											<div class="col-xl-10 mt-3">
												<textarea id="templateBody" name="templateText"></textarea>
											</div>
											<div class="col-xl-2 mt-3">
												<div class="card" style="border-radius: 10px;">
													<div class="card-header fw-bold">Identifiers</div>
													<div class="card-body scroll-conatiner"
														style="background-color: #e5eaef;border-radius: 0 0 10px 10px;max-height: 22rem;">
														<span class="fw-bold" style="font-size: 13px;">
															General
														</span>
														<br>
														<span style="font-size: 13px;margin-left: 10px;"
															th:each="generalIdentifier : ${generalIdentifiers}">
															<span th:text="${generalIdentifier}" />
															<br>
														</span>
														<span class="fw-bold" style="font-size: 13px;">
															Customer
														</span>
														<br>
														<span style="font-size: 13px;margin-left: 10px;"
															th:each="customerIdentifier : ${customerIdentifiers}">
															<span th:text="${customerIdentifier}" />
															<br>
														</span>
														<span class="fw-bold" style="font-size: 13px;">
															Company
														</span>
														<br>
														<span style="font-size: 13px;margin-left: 10px;"
															th:each="companyIdentifier : ${companyIdentifiers}">
															<span th:text="${companyIdentifier}" />
															<br>
														</span>
													</div>
												</div>
											</div>
											<div class="col-xl-12">
												<div class="col-xl-2">
													<button type="submit" id="emailTemplateBtn"
														class="primary-btn mt-5 mb-4 mb-3"
														style="opacity: 0.5;cursor: default;" disabled>Save
														Template</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap-select.min.js}"></script>
	<script th:src="@{/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/js/dataTables.responsive.min.js}"></script>
	<script th:src="@{/js/responsive.bootstrap5.min.js}"></script>
	<script th:src="@{/js/dataTables.bootstrap5.min.js}"></script>
	<script th:src="@{/js/slimselect.js}"></script>
	<script th:src="@{/js/addproduct-js.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/email-template.js}"></script>
	<script src="https://cdn.tiny.cloud/1/2ft8jqhpnauptffnfkoe180h7g4f0zvhbn8j7my53f1oiww4/tinymce/6/tinymce.min.js"
		referrerpolicy="origin"></script>
	<script>
		tinymce.init({
			selector: 'textarea#templateBody'
		});
	</script>
</body>

</html>