<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/dataTables.bootstrap5.min.css}">
	<link rel="stylesheet" th:href="@{/css/responsive.bootstrap5.min.css}">
	<link rel="stylesheet" th:href="@{/css/slimselect.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap-icons.min.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/responsive.css}">
	<link rel="stylesheet" th:href="@{/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css}">
</head>

<body>
	<!--navbar-->
	<div class="body_container d-flex">
		<div th:replace="component/sidebar :: sidebar"></div>
		<div class="main">
			<!-- haeder -->
			<header th:replace="component/topmenu :: topmenu"></header>
			<!-- headerend -->
			<!-- mainconatiner -->
			<div class="container-fluid p-2 p-md-3 p-lg-4 scroll-conatiner">
				<div class="card data-cards ">
					<div class="add-satff-container p-2">
						<div class="data-cards-header">
							<h4>Edit Customer</h4>
						</div>
						<div class="data-cards-body mt-4" th:fragment="add-customer-form">
							<form class="row g-4" th:action="@{/customer/process-update}" method="post">
								<p class="section-heading">Personal Information</p>
								<input type="hidden" name="customerId" th:value="${customerDto.customerId}">
								<div class="col-xl-3 col-md-6">
									<label for="customer_name" class=" form-label">Customer
										name</label> <input type="text" class="form-control" id="customer_name"
										name="customerName" th:value="${customerDto.customerName}">
								</div>
								<div class="col-md-6 col-xl-3">
									<label class="form-label">Contact person name</label>
									<div class="multi-field">
										<div class="input_and_select">
											<div class="select">
												<select class="selectpicker form-control" id="contact_per_name"
													name="sel[]">
													<option selected="selected">Select one</option>
													<option value="1">Mr.</option>
													<option value="2">Mrs.</option>
												</select>
											</div>
											<input type="text" class="form-control " name="customerParentAccount"
												th:value="${customerDto.customerParentAccount}">
										</div>
									</div>
								</div>
								<!-- <div class="col-md-6 col-xl-3">
                                    <label for="paren_acc" class="form-label">Parent Account Number</label>
                                    <input type="text" class="form-control" id="paren_acc">
                                </div> -->
								<div class="col-md-6 col-xl-3">
									<label for="acc_num" class="form-label">Account Number</label>
									<input type="text" class="form-control" id="acc_num" name="customerAccountNumber"
										th:value="${customerDto.customerAccountNumber}">
								</div>
								<div class="col-md-6 col-xl-3 me-5">
									<label for="multi-mobile" class="form-label">Mobile</label>
									<div class="multi-field-wrapper">
										<div class="multi-fields">
											<div class="multi-field mb-2">
												<div class="input_and_select">
													<div class="select">
														<select class="selectpicker form-control" id="multi-mobile"
															name="contactNumberCategory0">
															<option selected="selected" value="MOBILE">Mobile
															</option>
															<option value="HOME">Home</option>
															<option value="WORK">Work</option>
															<option value="OTHER">Other</option>
														</select>
													</div>
													<input type="text" class="form-control " name="contactNumber0"
														th:if="${#lists.size(customerDto.contactNumbers) > 0}"
														th:value="${customerDto.contactNumbers[0].number}">

												</div>
												<button type="button" class="remove-field ">
													<img th:src="@{/assest/cross.svg}" class="img-icon" alt="">
												</button>
											</div>
										</div>
										<button type="button" class="add-field">
											<img th:src="@{/assest/plus.svg}" class="img-icon" alt="">
										</button>
									</div>
								</div>
								<div class="col-md-6 col-xl-3">
									<label for="multi-email" class="form-label">Email</label>
									<div class="multi-field-wrapper">
										<div class="multi-fields" id="multi-fields_email">
											<div class="multi-field mb-2" id="multi-field_email">
												<div class="input_and_select">
													<div class="select">
														<select class="selectpicker form-control" id="multi-email"
															name="emailCategory0">
															<option selected="selected">Select one</option>
															<option value="PERSONAL">Personal</option>
															<option value="BUSINESS">Business</option>
															<option value="OTHER">Other</option>
														</select>
													</div>
													<input type="text" class="form-control" name="email0"
														th:if="${#lists.size(customerDto.emails) > 0}"
														th:value="${customerDto.emails[0].email}">
												</div>
												<button type="button" class="remove-field ">
													<img th:src="@{/assest/cross.svg}" class="img-icon" alt="">
												</button>
											</div>
										</div>
										<button type="button" class="add-field">
											<img th:src="@{/assest/plus.svg}" class="img-icon" alt="">
										</button>
									</div>
								</div>
								<div class="row mt-4">
									<div class="col-md-6 col-xl-3">
										<label for="depart" class="form-label">Department</label> <input type="text"
											class="form-control" id="depart" name="primaryContactDepartment"
											th:value="${customerDto.primaryContactDepartment}">
									</div>
									<div class="col-md-6 col-xl-3">
										<label for="job_tit" class="form-label">Job title</label> <input type="text"
											class="form-control" id="job_tit" name="primaryContactJobTitle"
											th:value="${customerDto.primaryContactJobTitle}">
									</div>
								</div>
								<!--<div class="row mt-4">
									<div class="col-md-12">
										<div class="switch-wrapper">
											<label class="switch" for="bill_contact"> <input type="checkbox"
													id="bill_contact" name="primaryContactIsBillingContact"
													th:value="${customerDto.primaryContactIsBillingContact}"> <span
													class="slider round"></span>
											</label>
											<p class="m-0">Billing contact</p>
										</div>
									</div>
									<div class="col-md-12">
										<div class="switch-wrap per">
											<label class="switch" for="book_contact"> <input type="checkbox"
													id="book_contact" name="primaryContactIsBookingContact">
												<span class="slider round"></span>
											</label>
											<p class="m-0">Booking contact</p>
										</div>
									</div>
								</div>-->
								<div class="heading_plusbutton justify-content-between d-flex align-items-center mt-5">
									<p class="section-heading">Stored service location</p>
									<button type="button" class="add_loaction">
										<img th:src="@{/assest/plus_circle.png}" alt="">Add
										Location
									</button>
								</div>

								<div class="location-fields row g-4 position-relative" id="location-fields">
									<div class="col-md-6 col-xl-3">
										<label for="location_name" class="form-label">Location
											nickname</label> <input type="text" class="form-control" id="location_name"
											name="locationNickName0"
											th:if="${#lists.size(customerDto.storedServiceLocations) > 0}"
											th:value="${customerDto.storedServiceLocations[0].locationNickName}">
									</div>
									<div class="col-md-6 col-xl-3">
										<label for="apt_suite" class="form-label">Apt/suite/unit</label>
										<input type="text" class="form-control" id="apt_suite" name="unit0"
											th:if="${#lists.size(customerDto.storedServiceLocations) > 0}"
											th:value="${customerDto.storedServiceLocations[0].unit}">
									</div>
									<div class="col-md-6 col-xl-3">
										<label for="loca_address" class="form-label">Address</label>
										<input type="text" class="form-control" id="loca_address" name="address0"
											th:if="${#lists.size(customerDto.storedServiceLocations) > 0}"
											th:value="${customerDto.storedServiceLocations[0].address}">
									</div>
									<div class="col-md-6 col-xl-3">
										<label for="locat_city" class="form-label">City</label> <input type="text"
											class="form-control" id="locat_city" name="city0"
											th:if="${#lists.size(customerDto.storedServiceLocations) > 0}"
											th:value="${customerDto.storedServiceLocations[0].city}">
									</div>
									<div class="col-md-6 col-xl-3">
										<label for="locat_state" class="form-label">State/province</label>
										<input type="text" class="form-control" id="locat_state" name="state0"
											th:if="${#lists.size(customerDto.storedServiceLocations) > 0}"
											th:value="${customerDto.storedServiceLocations[0].state}">
									</div>
									<div class="col-md-6 col-xl-3">
										<label for="locat_zip" class="form-label">Zip</label> <input type="text"
											class="form-control" id="locat_zip" name="zip0"
											th:if="${#lists.size(customerDto.storedServiceLocations) > 0}"
											th:value="${customerDto.storedServiceLocations[0].locationNickName}">
									</div>
									<!--<div class="row mt-4">
										<div class="col-md-12">
											<div class="switch-wrapper">
												<label class="switch" for="bill_contact"> <input type="checkbox"
														id="bill_contact" name="primaryContactIsBillingContact"
														th:checked="${customerDto.primaryContactIsBillingContact == 1}">
													<span class="slider round"></span>
												</label>
												<p class="m-0">Billing contact</p>
											</div>
										</div>
										<div class="col-md-12">
											<div class="switch-wrapper">
												<label class="switch" for="book_contact"> <input type="checkbox"
														id="book_contact" name="primaryContactIsBookingContact"> <span
														class="slider round"></span>
												</label>
												<p class="m-0">Booking contact</p>
											</div>
										</div>
									</div>-->
									<button type="button" class="delete-location">
										<img th:src="@{/assest/trash.svg}" class="img-icon" alt="">Delete
									</button>
								</div>
								<p class="mt-5 section-heading">Additional information</p>
								<div class="col-xl-3 col-md-6">
									<label for="ref_source" class="form-label">Referral
										source</label> <input type="text" class="form-control" id="ref_source"
										name="referalSource" th:value="${customerDto.referalSource}">
								</div>
								<!--<div class="col-md-6 col-xl-3">
									<label class="form-label">Industry</label> <select class="selectpicker form-control"
										id="select_indus" name="customerIndustry">
										<option th:each="industry : ${industries}" th:value="${industry}"
											th:text="${industry}" th:selected="${customerDto.customerIndustry}">
										</option>
									</select>
								</div>-->
								<div class="col-xl-3 col-md-6">
									<label for="customer_Industry" class=" form-label">Industry</label> <input type="text" class="form-control" id="customer_indus"
										name="customerIndustry" th:value="${customerDto.customerIndustry}">
								</div>
								<!--<div class="col-md-6 col-xl-3">
									<label for="select_tax_item" class="form-label">Tax
										item</label> <select class="selectpicker form-control" id="select_tax_item"
										name="sel[]">
										<option selected="selected">Select one</option>
										<option value="1">Mr.</option>
										<option value="2">Mrs.</option>
									</select>
								</div>-->
								<!-- <div class="col-md-6 col-xl-3">
                                    <div class="switch-wrapper">
                                        <label class="switch" for="Taxable">
                                            <input type="checkbox" id="Taxable">
                                            <span class="slider round"></span>
                                        </label>
                                        <p class="m-0">Taxable?</p>
                                    </div>
                                </div> -->
								<div class="col-md-6 col-xl-3 ">
									<label for="select_currency" class="form-label">Default
										currency</label> <select class="selectpicker form-control" id="select_currency"
										name="currency">
										<option th:each="currency : ${currencies}" th:value="${customerDto.currency}"
											th:text="${currency}" th:selected="${customerDto.currency}">
										</option>
										<!-- <option value="1">Item 1</option>
                                        <option value="2">Item 2</option> -->
									</select>
								</div>
								<div class="col-md-6 col-xl-3">
									<label for="businessid" class="form-label">Business
										number/Tax ID</label> <input type="text" class="form-control" id="businessid"
										name="buisnessNumber" th:value="${customerDto.buisnessNumber}">
								</div>
								<div class="col-md-6 col-xl-3">
									<label class="form-label">Assigned salesperson</label> <select
										class="selectpicker form-control" id="select_indus" name="salesPersonId"
										required>
										<option th:each="salesPerson : ${salesPersons}"
											th:value="${salesPerson.salesPersonId}"
											th:text="${salesPerson.salesPersonName}"></option>
									</select>
								</div>
								<!--<div class="col-md-6 col-xl-3">
									<label for="inpexpiry" class="form-label">Commission</label>
									<div class="multi-field">
										<div class="input_and_select">
											<div class="select">
												<select class="selectpicker form-control" id="select_commission"
													name="sel[]">
													<option selected="selected">Select one</option>
													<option value="1">$</option>
													<option value="2">%</option>
												</select>
											</div>
											<input type="text" class="form-control " name="stuff[]">
										</div>
									</div>
								</div> -->
								<div class="col-md-6"></div>
								<div class="col-md-6">
									<label for="inpexpiry" class="form-label">Internal/Private
										notes</label>
									<textarea class="form-control custom-area" id="inpexpiry" rows="3"
										name="privateNotes" th:text="${customerDto.privateNotes}" th:value="${customerDto.privateNotes}"></textarea>
								</div>
								<div class="col-12">
									<div class="form-submit">
										<a th:href="@{/customer/customers}" class="secondary-btn form-btns me-3"
											id="mainPageCancel">Cancel</a>
										<button type="submit" class="primary-btn form-btns">Update
											Customer</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap-select.min.js}"></script>
	<script th:src="@{/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/js/dataTables.responsive.min.js}"></script>
	<script th:src="@{/js/responsive.bootstrap5.min.js}"></script>
	<script th:src="@{/js/dataTables.bootstrap5.min.js}"></script>
	<script th:src="@{/js/slimselect.js}"></script>
	<script th:src="@{/js/initializeDataTables.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</body>

</html>