<!DOCTYPE html>

<body>
	<h1>------SUPER ADMIN DASHBOARD------</h1>
	<br>
	<div th:if="${session.message}">
		<div th:class="${session.message.type}+'-message'" class="message">
			<span th:text="${session.message.text}"></span>
		</div>
	</div>
	<br>
	<a th:href="@{/logout?logoutParam=true}">Logout</a> &nbsp;
	<!--&nbsp;
	<b><span>Login Organization : </span><a th:href="@{/organization/login}">Login Organization</a><br></b>-->

	<br>
	<h3>############
		*******************************
		&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
		^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
		$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$<h3>
			<h3>This is a super admin dashboard and content related to user</h3>
</body>

</html>